TABLE.club {
	float: left;
	clear: both;
	width: 100%;
}
TABLE.club TR TD {
	padding: 10px 0px 0px 0px;
}
TABLE.club .alt_row {
	background-color: white;
}
TABLE.club TR TD H2 {
	font: 12px "Arial";
	color: black;
	font-weight: bold;
	text-align: center;
	float: left;
	width: 185px;
}

.order_info TABLE, TABLE.profile {
	width: 100%;
	border: 1px solid black;
}
.order_info TABLE TR, TABLE.profile TR {
	border-bottom: 1px solid #888;
}
.order_info TABLE TD, TABLE.profile TD {
	padding: 1px 5px;
	border-right: 1px solid #888;
}
